@{
    ViewData["Title"] = "My Podcasts";
}

<div class="text-center">
    <h1 class="display-4">My Podcasts</h1>
    <p>Are you ready? For the best. Podcast of your life?</p>
    <a href="https://baconsale.com/">Check out BaconSale here</a>
    <br />
    <embed src="https://baconsale.com/" style="width:800px; height: 500px;" />
</div>

